.usersPhoto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.wrapper {
    margin-left: 30px;
    margin-top: 20px;
}

.selectedPage {
    font-weight: 700;
}

.preloader {
    width: 200px;
    height: 200px;
}