
.posts {
    color:#1f2544;
}
.textarea {
    width: 50%;
    margin-left: 20px;
}
.button {
    width: 20%;
    margin-left: 20px;
}

.wrapper {
    padding: 10px;
}

.myPost {
    margin-left: 20px;
}