.header {
    display: flex;
    height: 60px;
    background-color: #d5e3f7;
    margin-left: 150px;
    margin-right: 150px;
}
.header img {
    width: 50px;
    height: 50px;
    padding: 5px 0 10px 10px;
}

.login {
    margin-left: 1000px;
    margin-top: 15px;
}