.item {
    display: flex;
    flex-direction: row;
    color: greenyellow;
    margin-top: 10px;
}

.item img {
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
}
