.appWrapper {
    display: flex;
    flex-direction: column;
}
.contentNavWrapper {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
}
