.appWrapper {
    display: flex;
    flex-direction: column;
}

.contentNavWrapper {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
}

.appWrapperContent {
    display: flex;
    width: 85%;
    flex-direction: column;
    margin-left: 20px;
    background-color: #8b97fa;
}