.dialogs {
    display: flex;
    flex-direction: column;
}

.dialogsItem {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.dialog {
    display: flex;
    padding-top: 5px;
}

.messages {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.message {
    display: flex;
    padding-top: 5px;
    color: #1f2544;
}

.dialog a {
    color: #515c9d;
    text-decoration: none;
}

.dialog a.active {
    color: #1f2544;
}

.wrapperForMessage {
    display: flex;
}

.wrapperForTextarea {
    display: flex;
}

.wrapperForTextarea textarea {
    width: 300px;
    margin-left: 50px;
    margin-top: 30px;
}

.wrapperForTextarea button {
    margin-left: 30px;
    margin-top: 30px;
}